@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
}
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <h2 class="mb-5 text-center">Giriş Yap</h2>

            <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert"></div>

            <form asp-controller="Home" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]" method="post">
                <div class="mb-3">
                    <label for="Email" class="form-label" asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label" asp-for="Password"></label>
                    <input asp-for="Password" class="form-control">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="mb-3 form-check d-flex">
                    <input class="form-check-input" type="checkbox" asp-for="RememberMe">
                    <label class="form-check-label ms-2" asp-for="RememberMe">Beni Hatırla</label>
                    <a asp-controller="Home" asp-action="ForgotPassword" class="text-muted text-decoration-none ms-auto">Şifremi Unuttum</a>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </div>
            </form>
        </div>
    </div>
</div>

